doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-static-top.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href="#") Bootstrap theme

        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href="/")
                span.glyphicon.glyphicon-home  Home

    block content
